$breakpoints: (
  xxs: "screen and (max-width: 320px)",
  xs: "screen and (max-width: 599px)",
  xs-sm: "screen and (min-width: 319px) and (max-width: 767px)",
  sm-md: "screen and (min-width: 768px) and (max-width: 1023px)",
  sm: "screen and (min-width: 600px) and (max-width: 959px)",
  md-sm: "screen and (min-width: 1190px) and (max-width: 1920px)",
  md: "screen and (min-width: 960px) and (max-width: 1279px)",
  lg: "screen and (min-width: 1280px) and (max-width: 1919px)",
  xl: "screen and (min-width: 1920px) and (max-width: 5000px)",
  lt-sm: "screen and (max-width: 599px)",
  lt-sm-md: "screen and (max-width: 767px)",
  lt-md: "screen and (max-width: 959px)",
  lt-lg: "screen and (max-width: 1279px)",
  lt-md-lg: "screen and (max-width: 1460px)",
  lt-xl-lg: "screen and (max-width: 1640px)",
  lt-xl: "screen and (max-width: 1919px)",
  gt-xs: "screen and (min-width: 600px)",
  gt-sm: "screen and (min-width: 960px)",
  gt-md: "screen and (min-width: 1280px)",
  gt-lg: "screen and (min-width: 1920px)",
  gt-lg-xl: "screen and (min-width: 3200px)"
) !default;

$helper-breakpoints: (
  xs: null,
  sm: "gt-xs",
  md: "gt-sm",
  lg: "gt-md",
  xl: "gt-lg",
);

@mixin media-breakpoint($breakpointName) {
  $mediaQuery: map-get($breakpoints, $breakpointName);

  @if ($mediaQuery == null) {
    @content;
  } @else {
    @media #{$mediaQuery} {
      @content;
    }
  }
}
